body {
  background-color: #3c568e;
}
#Navbar {
  background-color: #3a1e5c;
  height: 40px;
}
.btn {
  background-color: #3a1e5c;
  margin-top: 3px;
}
.main-div {
  text-align: center;
  margin: auto;
  height: 100vh;
  padding: 50px 10px 10px 10px;
}
#home-header {
  font-size: 60px;
  color: white;
  margin-top: 25vh;
  text-shadow: -1px 0 #3a1e5c, 0 3px #3a1e5c, 3px 0 #3a1e5c, 0 -1px #3a1e5c;
}
#home-sub-header {
  color: #3a1e5c;
}
/* #contact-buttons {
  margin-left: 25%;
  margin-right: 25%;
} */
.secondary-header {
  margin-top: 15vh;
  color: white;
  margin-left: 3vh;
  font-family: Anton, Monospace;
}
.general-text {
  color: #3a1e5c;
  font-size: 20px;
}
#Contact {
  margin: auto;
  height: 90vh;
  width: 120vh;
  padding: 5px;
}
#contact-header {
  margin-top: 20vh;
  color: white;
  font-family: Anton, Monospace;
}
#contact-mail {
  color: #3a1e5c;
}
#contact-buttons-two {
  margin-top: 20vh;
}
.link {
  border-left: thick solid #3a1e5c;
  padding-right: 5px;
  padding-left: 2px;
  font-size: 18px;
}
a.button-link:hover {
  text-decoration: none;
}
.btn-container {
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 8px;
  padding-left: 5px;
}
.btn-primary:hover {
  background-color: #3a1e5c;
}
#spacer {
  border: 1px solid #3c568e;
}
/*the background game of lfe */
.board {
  position: absolute;
  opacity: 0.3;
  filter: alpha(opacity=30);
  background-color: lightgray;
  z-index: -1;
}
.cell {
  border: none;
  display: block;
  float: left;
}

/* div {
  border: 1px solid red;
} */
